<template>
  <div class="container mb-5 mt-4">
    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" @vdropzone-complete="Subir"></vue-dropzone>
    <div v-if="archivos.length !== 0" class="d-flex flex-wrap mt-4">
      <div class="col col-md-4 col-sm-6" v-for="(imagen,index) in archivos" :key="index">
        <CardImagen :imagen="imagen"/>
      </div>
    </div>
    <div v-else class="d-flex mt-4">
      <p class="text-center">No tienes Archivos almacenados.</p>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import CardImagen from '@/components/CardImagen.vue'

export default {
  name: 'Home',
  components: {
    CardImagen,
    vueDropzone: vue2Dropzone
  },
  computed: {
    ...mapState('fotos', ['archivos'])
  },
  data: function () {
    return {
      dropzoneOptions: {
        url: 'https://httpbin.org/post',
        thumbnailWidth: 150,
        thumbnailHeight: 150,
        addRemoveLinks: false,
        acceptedFiles: '.jpg, .jpeg, .png, .svg'
      }
    }
  },
  methods: {
    async Subir (file) {
      try {
        const path2folder = this.$store.state.user.user.uid
        await this.$store.dispatch('fotos/SubirImg', { file, path2folder })
        this.$refs.myVueDropzone.removeFile(file)
      } catch (error) {
        console.error(error.message)
      }
    }
  }
}
</script>
