<template>
  <div class="d-flex flex-wrap container mt-4 justify-content-center inicio">
    <!-- <div class="row"> -->
      <div class="col col-lg-8 d-none d-lg-flex justify-content-center align-items-center">
        <b-carousel
          id="carousel-1"
          :interval="3000"
          style="text-shadow: 1px 1px 2px #333;"
        >
          <b-carousel-slide>
            <template #img>
              <img class="d-block" src="../assets/slide1.svg" alt="slide1">
            </template>
          </b-carousel-slide>
          <b-carousel-slide>
            <template #img>
              <img class="d-block" src="../assets/slide2.svg" alt="slide2">
            </template>
          </b-carousel-slide>
          <b-carousel-slide>
            <template #img>
              <img class="d-block" src="../assets/slide3.svg" alt="slide3">
            </template>
          </b-carousel-slide>
        </b-carousel>
      </div>
      <div class="d-flex justify-content-center align-items-center col col-10 col-md-6 col-lg-4">
        <Formulario />
      </div>
    <!-- </div> -->
  </div>
</template>

<script>
import Formulario from '../components/Formulario.vue'

export default {
  name: 'Inicio',
  components: {
    Formulario
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
}
.inicio {
  min-height: 85vh;
}
</style>
