<template>
  <div class="d-flex justify-content-center align-items-center">
    <div class="container p-5 shadow p-3 mt-5 mb-5 bg-white rounded">
      <form @submit.prevent="actualizarPerfil">
        <!-- <span class="pb-4 d-block fs-2">Perfil</span> -->
        <h2>Perfil</h2>
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input
            class="form-control"
            type="text"
            :placeholder="user.displayName"
            v-model="usuario.name"
          >
        </div>
        <div class="mb-3">
          <label for="InputName" class="form-label">Correo Electronico</label>
          <input
            class="px-3 form-control"
            type="text"
            :placeholder="user.email"
            v-model="usuario.email"
          />
        </div>
        <div class="mb-3">
          <label for="InputPassword" class="form-label">Contraseña</label>
          <input
            class="px-3 form-control"
            type="password"
            placeholder="password"
            v-model="usuario.password"
          />
        </div>
        <div class="mt-3">
          <button
            type="submit"
            class="btn btn-primary fs-5 rounded-0 button"
            :disabled="!hasDataChanged"
          >
            <template v-if="isLoading">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              <span > Cargando...</span>
            </template>
            <template v-else >
              <span>Actualizar</span>
            </template>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Perfil',
  data () {
    return {
      isLoading: false,
      usuario: {
        name: '',
        email: '',
        password: ''
      }
    }
  },
  methods: {
    async actualizarPerfil () {
      this.isLoading = true
      try {
        await this.$store.dispatch('user/updateProfile', {
          name: this.usuario.name,
          email: this.usuario.email,
          password: this.usuario.password
        })
        // this.$toast.success('Account data updated')
        this.usuario.name = this.usuario.email = this.usuario.password = ''
      } catch (error) {
        // this.$toast.error(error.message)
        console.error(error.message)
      } finally {
        this.isLoading = false
      }
    }
  },
  computed: {
    ...mapState('user', ['user']),
    hasDataChanged () {
      return (
        (this.usuario.name && this.usuario.name !== this.user.displayName) ||
        (this.usuario.email && this.usuario.email !== this.user.email) ||
        this.usuario.password.length
      )
    }
  }
}
</script>
