<template>
  <div class="card mb-4 flex-fill">
    <img :src="fondo" class="card-img-top" alt="...">
    <div class="card-body border-top">
      <a :href="this.image.url" target="_blank">
        <h5 class="card-title">{{ imagen.name }}</h5>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardImagen',
  props: ['imagen'],
  data () {
    return {
      image: {
        nombre: this.imagen.name,
        path: this.imagen.path,
        url: this.imagen.url
      }
    }
  },
  computed: {
    fondo () {
      return this.image.url ? this.image.url : require('../assets/imagenes/foto.svg')
    }
  },
  methods: {
    async getUrl () {
      try {
        const Urlimage = await this.$store.dispatch('fotos/GetURL', this.image.path)
        this.image.url = Urlimage
      } catch (error) {
        console.error(error.message)
      }
    }
  },
  created () {
    if (this.image.url === undefined) this.getUrl()
  }
}
</script>
