<template>
  <footer class="bg-primary py-2" v-if="this.$route.path != '/'">
    <p class="text-light text-center m-0">Copyright &copy; Jefferson Beleño {{ year }}</p>
  </footer>
</template>

<script>
export default {
  name: 'FooterComponente',
  computed: {
    year () {
      return new Date().getFullYear()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
</style>
