<template>
  <div class="w-100 align-items-center p-4 shadow rounded">
    <!-- <div class="container p-5 login shadow p-3 mb-5 bg-white rounded">
    </div> -->
    <!-- Formulario de Login -->
    <template v-if="isLogin">
      <h3 class="text-center">Inicio de Sesion</h3>
      <form @submit.prevent="LogIn">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" placeholder="email" class="form-control" v-model="usuario.email" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" placeholder="password" class="form-control" v-model="usuario.password" required>
        </div>
        <button type="submit" class="btn btn-danger w-100">
          <template v-if="isLoading">
            <span class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
            <span class="text-white"> Cargando...</span>
          </template>
          <template v-else >
            <span class="text-white">Iniciar Sesion</span>
          </template>
        </button>
        <p class="fuente">No tienes una cuenta <a href="#" @click="isLogin = false">Regístrate</a></p>
      </form>
    </template>
    <!-- Fin del Formulario -->
    <!-- Formulario de Registro -->
    <template v-else>
      <h3 class="text-center">Registro</h3>
      <form @submit.prevent="Register">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Nombre</label>
          <input type="text" placeholder="name" class="form-control" v-model="usuario.name" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" placeholder="email" class="form-control" v-model="usuario.email" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" placeholder="password" class="form-control" v-model="usuario.password" required>
        </div>
        <button type="submit" class="btn btn-danger w-100">
          <template v-if="isLoading">
            <span class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
            <span class="text-white"> Cargando...</span>
          </template>
          <template v-else >
            <span class="text-white">Registrate</span>
          </template>
        </button>
        <p class="fuente">Inicia sesion <a href="#" @click="isLogin = true">aquí</a></p>
      </form>
    </template>
    <!-- Fin del Formulario -->
    <hr />
    <button class="btn btn-light w-100" @click="LoginGoogle">
      <img src="../assets/google_buttn.svg" height="18px" width="18px" alt="logo google">
      Inicia sesion con Google
    </button>
  </div>
</template>

<script>
export default {
  name: 'Formulario',
  data () {
    return {
      isLogin: true,
      isLoading: false,
      usuario: {
        name: '',
        email: '',
        password: ''
      }
    }
  },
  methods: {
    async Redirect () {
      try {
        await this.$store.dispatch('fotos/Listar', this.$store.state.user.user.uid)
      } catch (error) {
        console.error(error.message)
      }
      this.$router.push({ name: 'Home' })
    },
    Reset () {
      this.usuario.name = this.usuario.email = this.usuario.password = ''
    },
    async Register () {
      this.isLoading = true
      try {
        await this.$store.dispatch('user/SignIn', {
          name: this.usuario.name,
          email: this.usuario.email,
          password: this.usuario.password
        })
        console.log('Account Created')
        this.Reset()
        this.Redirect()
      } catch (error) {
        console.error(error.message)
      } finally {
        this.isLoading = false
      }
    },
    async LogIn () {
      this.isLoading = true
      try {
        await this.$store.dispatch('user/LoginEmail', {
          email: this.usuario.email,
          password: this.usuario.password
        })
        console.log('Logged in')
        this.Reset()
        this.Redirect()
      } catch (error) {
        console.error(error.message)
      } finally {
        this.isLoading = false
      }
    },
    async LoginGoogle () {
      try {
        await this.$store.dispatch('user/LoginGoogle')
        console.log('Logged in')
        this.Reset()
        this.Redirect()
      } catch (error) {
        console.error(error.message)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.fuente {
  font-size: smaller;
}
</style>
