<template>
  <header class="navbar navbar-light bg-primary justify-content-between">
    <span class="navbar-brand text-light">Galeria</span>
    <div>
      <template v-if="user">
        <router-link to="/Home" class="btn btn-success mx-1 my-sm-0">Home</router-link>
        <router-link to="/Perfil" class="btn btn-success mx-1 my-sm-0">Perfil</router-link>
        <a class="btn btn-danger mx-1 my-sm-0" @click="Logout">
          <span class="text-white">Cerrar Sesion</span>
        </a>
      </template>
      <template v-else>
        <a class="btn btn-success my-2 my-sm-0 d-none">Registrate</a>
      </template>
    </div>
  </header>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'NavBar',
  methods: {
    async Logout () {
      try {
        await this.$store.dispatch('user/Logout')
        this.$router.push({ name: 'Inicio' })
        console.log('Logged out')
      } catch (error) {
        console.error(error.message)
      }
    }
  },
  computed: {
    ...mapState('user', ['user'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
