<template>
  <div id="app">
    <NavBar />
    <router-view></router-view>
    <FooterComponente />
  </div>
</template>

<script>
import NavBar from './components/NavBarComponente.vue'
import FooterComponente from './components/FooterComponente.vue'

export default {
  name: 'app',
  components: {
    NavBar,
    FooterComponente
  }
}
</script>

<style lang="scss">
#app{
  min-height: 100vh;
}
</style>
