@import url("https://fonts.googleapis.com/css?family=PT+Sans");
// asigna la tipografía por defecto
$font-family-sans-serif: "PT Sans", sans-serif;
// modifica los colores por defecto
// $green: #41b883;
// $red: #ce679b;
// $blue: #7952b3;
$primary: #6c63ff;
$success: #00bfa6;
$danger: #ff6584;
// $light: #f2f2f2;
// $danger: #f50057;

$body-color: #2f2e41;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
